@page "/gifttimothythree"
@inject IToastService ToastService

<div style="position: relative;">
     @if (isLocked)
    {
        <div class="modal fade show" tabindex="-1" aria-hidden="@showModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <script>
                            (function(d, s, id) {
                                var js, pjs = d.getElementsByTagName(s)[0];
                                if (d.getElementById(id)) return;
                                js = d.createElement(s); js.id = id;
                                js.src = "//www.tickcounter.com/static/js/loader.js";
                                pjs.parentNode.insertBefore(js, pjs);
                            }(document, "script", "tickcounter-sdk"));
                        </script>
                        <a data-type="countdown" data-id="4712985" class="tickcounter" style="display:block; left:0; width:100%; height:0; position:relative; padding-bottom:25%; margin:0 auto;" title="Tid till nästa julafton" href="//www.tickcounter.com/" onclick="event.preventDefault();" >Tid till nästa gissning</a>
                    </div>
                </div>
            </div>
        </div>
    }
    <h1 class="header">Present ett Timothy <br> Första gåtan</h1>

    <p class="bread">
        I ett litet paket, gömd i hemmets vrå, <br>
        vilar en vän som vaknar när morgonen står på. <br>
        Med ett tryck och ett sus, blir världen mer klar, <br>
        en morgonritual, förvandlad till magi, var da. <br><br>

        I sin metalliska dräkt, står den tyst och stolt, <br>
        väntar på att uppfylla sitt givna löfte. <br>
        Med en doft som sprider sig, varm och djupt omfamnande, <br>
        ger den styrka till dagens alla möten och löften..
    </p>

    <input class="input" type="text" @bind="userGuess" />
    <button class="button" @onclick="CheckAnswer">Gissa</button>

   
</div>

@code {
    private string? userGuess;
    private const string Tip = "två ord, första ordet börjar på K****, andra ordet börjar på K******* | Sista Försöket";
    private const string CorrectAnswer = "Kaffe kappslar";

    private int wrongGuessCount = 0;
    private bool isLocked = false;
 private bool showModal = false;
    void CheckAnswer()
    {
        if (string.IsNullOrEmpty(userGuess))
        {
            ShowToast(ToastType.Error, new ToastMessage { Title = "Error", Content = "Du måste skriva något Timse!" });
        }
        else if (userGuess.Equals(CorrectAnswer, StringComparison.OrdinalIgnoreCase))
        {
            ShowToast(ToastType.Success, new ToastMessage { Title = "Grattis!", Content = "Du vann en frukost på valfrit ställe (Värde 20kr)" });
        }
        else
        {
            if (wrongGuessCount == 0)
            {
                ShowToast(ToastType.Warning, new ToastMessage { Title = "Fel svar!", Content = "Försök igen!" });
                wrongGuessCount++;
            }
            else if (wrongGuessCount == 1)
            {
                ShowToast(ToastType.Warning, new ToastMessage { Title = "Fel svar!", Content = Tip });
                wrongGuessCount++;
            }
            else if (wrongGuessCount == 2)
            {
                isLocked = true;
                ShowModal();
            }
        }

    }
        private void ShowModal()
    {
        showModal = true;
        StateHasChanged();
    }

    public void ShowToast(ToastType type, ToastMessage message)
    {
        ToastService.ShowToast<MyToastComponent>(new ToastParameters()
            .Add(nameof(MyToastComponent.Message), message)
            .Add(nameof(MyToastComponent.ToastType), type));
    }
}
