@page "/gifttimothyone"
@inject IToastService ToastService
<div>
    <h1 class="header">Present ett Timothy <br> Första gåtan</h1>


    <p>
        En gåva jag bär, över land och hav,<br>
        med en essens så fin, som en tystnad kan ha.<br>
        Inte bullrig som musik, ej hård som en sten,<br>
        men dess närvaro märks, som en tyst, elegant scen.<br><br>

        Från Sverige till Toronto, där vi nu ska fira,<br>
        Gissa, min broder, vad kan detta vara?<br>
        Något som förnims, nära som en sällskapsstjärna.<br>
        Ej syns det för ögat, men dess effekt är klar,<br>
        som en fläkt av vind, subtil men ändå sann.<br><br>

        Dina fisar luktar lera, men med denna, kanske inte mera..
    </p>

    <input class="input" type="text" @bind="userGuess" />
    <button class="button" @onclick="CheckAnswer">Gissa</button>
    @if (isLocked)
    {
        <p>Time until next Christmas: @timeUntilNextChristmas.Days days, @timeUntilNextChristmas.Hours hours,
            @timeUntilNextChristmas.Minutes minutes, @timeUntilNextChristmas.Seconds seconds</p>
    }
</div>


@code {
    private string? userGuess;
    private const string Tip = "Ett ord, P***** | Sista Försöket";
    private const string CorrectAnswer = "Parfym";

    private int wrongGuessCount = 0;
    private bool isLocked = false;
    private TimeSpan timeUntilNextChristmas;
    protected override void OnInitialized()
    {
        base.OnInitialized();
        timeUntilNextChristmas = CalculateTimeUntilNextChristmas();
    }

    private TimeSpan CalculateTimeUntilNextChristmas()
    {
        DateTime nextChristmas = new DateTime(DateTime.Now.Year + 1, 12, 25);
        return nextChristmas - DateTime.Now;
    }

    private async Task CheckAnswer()
    {
        if (isLocked)
        {
            return;
        }
        else
        {

            if (string.IsNullOrEmpty(userGuess))
            {
                ToastService.ShowError("Du måste skriva något Timse!");
            }
            else
            {
                wrongGuessCount++;

                if (userGuess.Equals(CorrectAnswer, StringComparison.OrdinalIgnoreCase))
                {
                    ToastService.ShowSuccess("Grattis! Du vann en frukost på valfrit ställe för hela familjen ( Wille bjuder )!");
                    wrongGuessCount = 0;
                }
                else if (wrongGuessCount <= 1)
                {
                    ToastService.ShowWarning("Fel svar, försök igen!");
                }
                else if (wrongGuessCount <= 2)
                {
                    ToastService.ShowWarning(Tip);
                }
                else
                {
                    ToastService.ShowError("Tyvärr, Bättre lycka nästa gång.");
                    isLocked = true;
                    timeUntilNextChristmas = CalculateTimeUntilNextChristmas();
                }

            }
        }
    }
}
