@page "/"
<nav class="flex-column m-5 ">
    <div class="nav-item px-3 btn btn-success m-2">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
        </NavLink>
    </div>
    <div class="nav-item px-3 btn btn-success m-2">
        <NavLink class="nav-link" href="giftmom">
            <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Gift Mom
        </NavLink>
    </div>
    <div class="nav-item px-3 btn btn-success m-2">
        <NavLink class="nav-link" href="gifttimothyone">
            <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Gift Timothy One
        </NavLink>
    </div>
    <div class="nav-item px-3 btn btn-success m-2">
        <NavLink class="nav-link" href="gifttimothytwo">
            <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Gift Timothy Two
        </NavLink>
    </div>
    <div class="nav-item px-3 btn btn-success m-2">
        <NavLink class="nav-link" href="gifttimothythree">
            <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Gift Timothy Three
        </NavLink>
    </div>
</nav>

@code {

}
